
/*
font-family: 'PT Serif', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

body {
	padding: 0px;
	margin: 0px;
	font-family: "PT Sans", sans-serif;
	font-size: 12pt;
	
	/* background gradient */
	background-color: #ebf0f2;
	background-repeat: no-repeat;
	background-image: linear-gradient(top, #c9d1d6 150px, #ebf0f2 300px);
	background-image: -o-linear-gradient(top, #c9d1d6 150px, #ebf0f2 300px);
	background-image: -moz-linear-gradient(top, #c9d1d6 150px, #ebf0f2 300px);
	background-image: -webkit-linear-gradient(top, #c9d1d6 150px, #ebf0f2 300px);
	background-image: -ms-linear-gradient(top, #c9d1d6 150px, #ebf0f2 300px);
}



.container {
	width: 940px;
	margin: 0px auto 0px auto;
}


/* header */

#header {
	font-family: "PT Serif", serif;
	background: #292d30;
	overflow: hidden;
	width: 100%;
	padding: 10px 0 18px 0;
	border-top: 3px solid rgba(0,0,0,0.15);
}

#logo-area {
	float: left;
	width: 300px;
	font-size: 12px;
	line-height: 13px;
	min-height: 41px;
	background: transparent url("/images/vertical-div.png") no-repeat right 0px;
}

#logo-area a {
	display: block;
	text-decoration: none;
	width: 215px;
	color: #71767a;
	min-height: 35px;
	padding: 0 15px 0 70px;
	background: transparent url("/images/sjmio.png") no-repeat 3px 2px;
}

#logo-area a:hover {
	color: #a1a8af;
}

#header ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 15px;
}

#header li {
	width: 140px;
	margin-left: 20px;
	float: left;
	background: transparent url("/images/vertical-div.png") no-repeat right 0px;
	min-height: 41px;
}
	
#header ul a {
	display: block;
	text-decoration: none;
	color: #c3c3c3;
	margin-top: 2px;
	text-shadow: 1px 1px 0px #000;
}

#header ul a:hover {
	color: #fff;
}

#header ul small {
	display: block;
	color: #71767a;
	text-shadow: none
}

#header ul a:hover small {
	color: #8f98a2;
}

.content-header, .content-footer {
	color: #7a848f;
	font-size: 11pt;
	margin-bottom: 30px;
	overflow: hidden;
}

.content-header h1 {
	font-size: 25pt;
	color: #353c44;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
	margin: 0px 0px -5px 0px;
	padding: 0px;
}

.content-header strong {
	color: #626e7b;
}


/* sub-header */

#sub-header {
	font-family: "PT Serif", serif;
	font-size: 0.9em;
	line-height: 1.2em;
	height: 78px;
	background: transparent url("/images/sub-header-bg.png") repeat-x 0px 0px;
	margin-top: -8px;
	overflow: hidden;
	width: 100%;
	color: #797979;
	margin-bottom: 24px;
}

#sub-header a {
	color: #3d3d3d;
	text-decoration: none;
}

#sub-header a:hover {
	color: #000;
	text-decoration: underline;
}

#sub-header em {
	font-style: normal;
}

#sub-header .block-small, #sub-header .block-large {
	float: left;
	margin-top: 18px;
	background: transparent url("/images/vertical-div.png") no-repeat right 0px;
	min-height: 41px;
}

#sub-header .block-small {
	width: 140px;
	margin-right: 20px;
}

#sub-header .block-large {
	width: 620px;
}


/* posts */

#posts .post-meta-container, #posts .post {
	float: left;
}

#posts .post-meta-container {
	margin-right: 20px;
	width: 300px;
}

#posts .post-meta-container .post-title {
	display: block;
	
	background: #333841;
	box-shadow: 3px 3px 0px 0px rgba(46,53,59,0.2), inset 0px 0px 0px 1px rgba(0,0,0,0.1);
	
	overflow: hidden;

	/* background gradient */
	background-image: linear-gradient(left, #4f5c64 0%, #181b1f 100%);
	background-image: -o-linear-gradient(left, #4f5c64 0%, #181b1f 100%);
	background-image: -moz-linear-gradient(left, #4f5c64 0%, #181b1f 100%);
	background-image: -webkit-linear-gradient(left, #4f5c64 0%, #181b1f 100%);
	background-image: -ms-linear-gradient(left, #4f5c64 0%, #181b1f 100%);
	
	border-radius: 5px;

	
	color: #fff;
	text-decoration: none;
	font-size: 10pt;
}

#posts .post-title-inner {
	border-radius: 5px;
	padding: 12px;
	overflow: hidden;
	background: transparent url("/images/vertical-div.png") repeat 0px 0px;
}

#posts .post-title-inner:hover {
	background-color: rgba(0,0,0,0.6);
}

#posts .post-meta-container h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
	font-size: 20pt;
	text-shadow: 1px 1px 0px #000;
	margin: 0px;
	padding: 0px;
	min-height: 60px;
}

#posts .post-meta-container h1:before {
	content: "";
	display: block;
	width: 96px;
	height: 96px;
	margin: -20px 0px 0px 200px;
	position: absolute;
	background: transparent url("/images/sash-article.png") no-repeat 0px 0px;
	opacity: 0.97;
}

#posts .post-meta-container .post-title:hover h1:before {
	opacity: 0.88;
	
}

#posts .post-meta-container {
	font-size: 10pt;
}

#posts .post-meta-container .date, #posts .post-meta-container .size {
	margin-top: 16px;
	float: left;
}

#posts .post-meta-container .date {
	width: 150px;
}

#posts .post-meta-container .size {
	color: #bbb;
}

#posts .post-meta strong {
	font-weight: normal;
	color: #7e7e7e;
	margin-top: 20px;
	padding-right: 8px;
	display: inline-block;
	background: transparent url("/images/arrow.png") no-repeat right 6px;
	margin-right: 100%;
}

#posts .post-meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#posts .post-meta .nobr li {
	display: inline-block;
	margin-right: 10px;
}

#posts .post-meta a {
	font-style: italic;
	color: #4c9500;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
}

#posts .post-meta a:hover {
	text-decoration: underline;
	color: #256336;
}

#posts .post-meta span {
	color: #9ca5ae;
	text-shadow: 1px 1px 0px #fff;
}


.post {
	width: 620px;
	color: #4d565e;
	line-height: 17pt;
}

.post a {
	color: #4c9500;
}

strong {
	color: #333;
}

.post a:hover {
	color: #256336;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	margin: 30px 0 15px 0;
}

.post p {
	margin: 15px 0 15px 0;
}

.post > :first-child {
	margin-top: 0px;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	color: #2e353b;
	text-shadow: 1px 1px 0px #fff;
}

.post ul {
	list-style: square;
}

.post li {
	padding: 5px 0 5px 0;
}


code {
	background-color: #fff;
	box-shadow: 1px 1px 2px 0px rgba(41,45,48,0.2);
	padding: 3px;
	color: #222;
	font-size: 9pt;
}

.continue-reading {
	border-radius: 5px;
	background-color: #c76b3f;
	
	color: #fffce1 !important;
	text-decoration: none;
	font-size: 14pt;
	padding: 4px 12px;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px #cd814b, 1px 2px 0px 0px #9b421e, inset 0px 0px 0px 1px rgba(139,40,0,0.4);
}

.continue-reading:hover {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1), 1px 2px 0px 0px #000;
	background: #333 url("/images/vertical-div.png") repeat 0px 0px;
	color: #eee !important;
	text-shadow: none;
}

.post-div {
	height: 0px;
	border: none;
	/*border-top: 1px dashed #bbb;
	margin-top: 30px;
	margin-bottom: 30px;*/
	padding: 30px 0;
}

.post-div:after {
	content: "";
	display: block;
	height: 150px;
	margin-top: 1px;
	background-image: linear-gradient(top, #c9d1d6 50px, #ebf0f2 150px);
	background-image: -o-linear-gradient(top, #c9d1d6 50px, #ebf0f2 150px);
	background-image: -moz-linear-gradient(top, #c9d1d6 50px, #ebf0f2 150px);
	background-image: -webkit-linear-gradient(top, #c9d1d6 50px, #ebf0f2 150px);
	background-image: -ms-linear-gradient(top, #c9d1d6 50px, #ebf0f2 150px);
}

.post-div:before {
	content: "";
	display: block;
	height: 150px;
	margin-top: -151px;
	background-image: linear-gradient(top, rgba(225,225,225,0) 50px, #fff 150px);
	background-image: -o-linear-gradient(top, rgba(225,225,225,0) 50px, #fff 150px);
	background-image: -moz-linear-gradient(top, rgba(225,225,225,0) 50px, #fff 150px);
	background-image: -webkit-linear-gradient(top, rgba(225,225,225,0) 50px, #fff 150px);
	background-image: -ms-linear-gradient(top, rgba(225,225,225,0) 50px, #fff 150px);
}

.condensed .post-meta-container {
	margin-bottom: 20px;
}

.condensed .post-meta-container:nth-child(4n+3) { /* 4n+3 because of .condensed hr */
	margin-right: 0px !important;
}

.condensed hr {
	height: 0px;
	margin-bottom: 28px;
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	border-top: 1px dashed rgba(0,0,0,0.2);
	display: block;
	clear: both;
}

.pagination {
	float: right;
	font-size: 14pt;
	padding-right: 2px;
}

.content-header .pagination {
	border-bottom: 1px dashed rgba(0,0,0,0.15);
	padding-bottom: 15px;
	margin-top: 15px;
}

.content-footer .pagination {
	border-top: 1px dashed rgba(0,0,0,0.15);
	padding-top: 15px;
	padding-bottom: 5px;
}

.pagination .page_number {
	padding: 0px 10px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

.pagination a {
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	padding: 3px 12px;
	color: #3a4149;
	background-color: rgba(255,255,255,0.3);
	border-radius: 6px;
	box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.7), 1px 2px 0px 0px rgba(0,0,0,0.1), inset 0px -1px 0px 0px rgba(0,0,0,0.4);
}

.pagination a:hover {
	background: #333 url("/images/vertical-div.png");
	text-shadow: none;
	box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.1);
	color: #fff;
}



