---
layout: default
title: Welcome
---


<div class="pagination">
	{% if paginator.next_page %}
		<a href="{{paginator.next_url}}" class="next ">&laquo;<span> Older Posts</span></a>
	{% endif %}
	{% if paginator.previous_page %}
		<a href="{{paginator.previous_url}}" class="previous"><span>Newer Posts </span>&raquo;</a>
	{% endif %}
</div>

<div class="container content-header">
	{% if page.url == "/index.html" %}
		<h1>Welcome :)</h1>
		http://sjm.io/
	{% else %}
		<h1>Archives</h1>
		http://sjm.io/
	{% endif %}
</div>






<div id="posts">
	{% for post in paginator.posts %}
		<div class="container">
			<div class="post-meta-container" >
				<a class="post-title" href="{{ post.url }}">
					<div class="post-title-inner">
						<h1>{{ post.title }}</h1>
						<div class="date">{{ post.date | date_to_string }}</div>
						<div class="size">{{ post.content | size }} Bytes</div>
					</div>
				</a>
				<div class="post-meta">
					<strong>topics</strong>
					<ul class="topics nobr">
						{% for tag in post.tags %}
							<li><a href="/topic/{{ tag | downcase | replace:' ','-' }}">{{ tag | downcase | capitalize }}</a></li>
						{% endfor %}
					</ul>
			
					<strong>synopsis</strong>
					<span>{{ post.synopsis }}</span>
			
					<strong>miscellaneous</strong>
					<ul class="topics">
						<li><a href="{{ post.url }}#comments">Comments</a></li>
						<li><a href="{{ post.url }}">Permalink</a></li>
					</ul>
				</div>
			</div>
			<div class="post">
				{% capture sz %}{{ post.content | split:'<!-- more -->' | size }}{% endcapture %}
				{{ post.content | split:'<!-- more -->' | first }}
				{% if sz != "1" %}
				<a class="continue-reading" href="{{ post.url }}#more">Read more &raquo;</a>
				{% endif %}
			</div>
			<div style="clear: both;"></div>
		</div>
		<hr class="post-div" />
	{% endfor %}
</div>

