---
layout: default
title: sjm.io
---

<div id="posts">
	{% for post in site.posts %}
		<div class="container">
			<div class="post-meta-container" >
				<a class="post-title" href="{{ post.url }}">
					<div class="post-title-inner">
						<h1>{{ post.title }}</h1>
						<div class="date">{{ post.date | date_to_string }}</div>
						<div class="size">{{ post.content | size }} Bytes</div>
					</div>
				</a>
				<div class="post-meta">
					<strong>topics</strong>
					<ul class="topics nobr">
						{% for topic in post.topics %}
							<li><a href="/topics/#!/{{ topic | downcase | replace:' ','_' }}">{{ topic | downcase | capitalize }}</a></li>
						{% endfor %}
					</ul>
				
					<strong>synopsis</strong>
					<span>{{ post.synopsis }}</span>
				
					<strong>miscellaneous</strong>
					<ul class="topics">
						<li><a href="{{ post.url }}#comments">Comments</a></li>
						<li><a href="{{ post.url }}">Permalink</a></li>
					</ul>
				</div>
			</div>
			<div class="post">
				{{ post.content }}
			</div>
			<div style="clear: both;"></div>
		</div>
	{% endfor %}
</div>