<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} / sjm.io</title>
	<meta name="author" content="Sean McNamara" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=PT+Serif|PT+Sans+Narrow|PT+Sans:400italic,400,700,700italic' rel='stylesheet' type='text/css'>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/js/sjmio.js"></script>
	
</head>
<body>
<div id="header">
	<div class="container">
		<div id="logo-area" >
			<a href="/">
				Collective musings on &lt;code&gt;, #devops, {algorithm}, <i>generative art</i>, and&nbsp;<strike>randomness</strike>
			</a>
		</div>
		{% include navigation.ext %}
	</div>
</div>

<div id="sub-header">
	<div class="container">
		<div class="block-small">
			<em>Follow Me:</em>
			<br/><a href="http://github.com/sjmio">Github</a> / <a href="http://twitter.com/sjmio">@sjmio</a>
		</div>
		<div class="block-small">
			<em>Contact:</em>
			<br/><a href="mailto:sean@sjm.io">sean@sjm.io</a>
		</div>
		<div class="block-large popular-topics">
			<em>Popular Topics:</em>
			{% popular_tags %}
		</div>
	</div>
</div>

<div id="content">
	{{ content }}
</div>




<div id="footer">
	<div class="container">
		<div id="recent-posts">
			<h4>Recent Posts</h4>
			<ul class="posts">
			{% for post in site.posts limit:3 %}
				<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div id="copyright">
			Copyright &copy; 2012 sjm.io
		</div>
	</div>
</div>

</body>
</html>