<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Sean McNamara" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/js/sjmio.js"></script>
	
</head>
<body>

<div id="header">
	{% include navigation.ext %}
</div>

<div id="content">
{{ content }}
</div>

<div id="footer">
	{% include navigation.ext %}
</div>

</body>
</html>