---
layout: default
---



<div class="pagination">
	{% if page.previous %} 
		<a rel="prev" href="{{ page.previous.url }}" class="next ">&laquo;<span> {{ page.previous.title }}</span></a>
	{% endif %}
	{% if page.next %}
		<a rel="next" href="{{ page.next.url }}" class="previous"><span>{{ page.next.title }} </span>&raquo;</a>
	{% endif %}
</div>




<div id="posts">
	<div class="container">
		<div id="sticky-container">
			<div class="post-meta-container sash-{{ page.sash }}" >
				<a class="post-title" href="{{ page.url }}">
					<div class="post-title-inner">
						<h1>{{ page.title }}</h1>
						<div class="date">{{ page.date | date_to_string }}</div>
						<div class="size">{{ page.content | size }} Bytes</div>
					</div>
				</a>
				<div class="post-meta">
					<strong>topics</strong>
					<ul class="topics nobr">
						{% for tag in page.tags %}
							<li><a href="/topic/{{ tag | downcase | replace:' ','-' }}">{{ tag | downcase | split:" " | map: "capitalize" | join: " " }}</a></li>
						{% endfor %}
					</ul>
		
					<strong>synopsis</strong>
					<span>{{ page.synopsis }}</span>
		
					<strong>miscellaneous</strong>
					<ul class="topics">
						<li><a href="{{ page.url }}#comments">Comments</a></li>
						<li><a href="{{ page.url }}">Permalink</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="post">
			{{ content | replace_first: '<!-- more -->','<a name="more"></a>' }}
			
			<div class="comments">
				<a name="comments"></a>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'sjmio';

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
			
		</div>
		<div style="clear: both;"></div>
	</div>
	<hr class="post-div" />
</div>


