---
layout: default
---

{% if page.previous %} 
	<a rel="prev" href="{{ page.previous.url }}">&larr; Older</a>
{% endif %}
{% if page.next %} 
	<a rel="next" href="{{ page.next.url }}">Newer &rarr;</a>
{% endif %}


<div id="posts">
	<div class="container">
		<div id="sticky-container">
			<div class="post-meta-container" >
				<a class="post-title" href="{{ page.url }}">
					<div class="post-title-inner">
						<h1>{{ page.title }}</h1>
						<div class="date">{{ page.date | date_to_string }}</div>
						<div class="size">{{ page.content | size }} Bytes</div>
					</div>
				</a>
				<div class="post-meta">
					<strong>topics</strong>
					<ul class="topics nobr">
						{% for tag in page.tags %}
							<li><a href="/topic/{{ tag | downcase | replace:' ','-' }}">{{ tag | downcase | capitalize }}</a></li>
						{% endfor %}
					</ul>
		
					<strong>synopsis</strong>
					<span>{{ page.synopsis }}</span>
		
					<strong>miscellaneous</strong>
					<ul class="topics">
						<li><a href="{{ page.url }}#comments">Comments</a></li>
						<li><a href="{{ page.url }}">Permalink</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="post">
			{{ content | replace_first: '<!-- more -->','<a name="more"></a>' }}
		</div>
		<div style="clear: both;"></div>
	</div>
	<hr class="post-div" />
</div>


