---
layout: default
---

<div id="related">
	<h2>Related Posts</h2>
	<ul class="posts">
	{% for post in site.related_posts limit:3 %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
</div>




{% if page.previous %} 
	<a rel="prev" href="{{ page.previous.url }}">&larr; Older</a>
{% endif %}
{% if page.next %} 
	<a rel="next" href="{{ page.next.url }}">Newer &rarr;</a>
{% endif %}


<div id="posts">
	<div class="container">
		<div class="post-meta-container" >
			<a class="post-title" href="{{ page.url }}">
				<div class="post-title-inner">
					<h1>{{ page.title }}</h1>
					<div class="date">{{ page.date | date_to_string }}</div>
					<div class="size">{{ page.content | size }} Bytes</div>
				</div>
			</a>
			<div class="post-meta">
				<strong>topics</strong>
				<ul class="topics nobr">
					{% for topic in page.topics %}
						<li><a href="/topics/#!/{{ topic | downcase | replace:' ','_' }}">{{ topic | downcase | capitalize }}</a></li>
					{% endfor %}
				</ul>
		
				<strong>synopsis</strong>
				<span>{{ page.synopsis }}</span>
		
				<strong>miscellaneous</strong>
				<ul class="topics">
					<li><a href="{{ page.url }}#comments">Comments</a></li>
					<li><a href="{{ page.url }}">Permalink</a></li>
				</ul>
			</div>
		</div>
		<div class="post">
			{{ content | replace_first: '<!-- more -->','<a name="more"></a>' }}
		</div>
		<div style="clear: both;"></div>
	</div>
</div>


